 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'Spring Boot:Internationalization- ' + ${title}"></title>
	<title th:text="${pageTitle}">Template title</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/custom.css}" />
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Ozymern</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
				</ul>
			
				<ul class="navbar-nav navbar-right mx-4">
				<li class="nav-item mx-1"><a class="btn btn-outline-success" th:href="@{/locale(lang=es_ES)}">ES</a></li>
				<li class="nav-item mx-1"><a class="btn btn-outline-success" th:href="@{/locale(lang=en_US)}">EN</a></li>
		
					<li class="nav-item dropdown show mx-2"><a
						class="btn btn-outline-primary dropdown-toggle" href="#"
						role="button" id="dropdownLenguaje" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><span
							th:text="#{text.locale.language}"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" th:href="@{/locale(lang=es_ES)}"
								th:text="#{text.locale.es}">ES</a> <a class="dropdown-item"
								th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}">EN</a>
						</div></li>  
				</ul>
			</div>
		</nav>
	</header>
	</body>
</html>